* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: sans-serif;
}

.Home, .About, .Gameplay {
  height: 70vh;
  background-color: red;
  display: flex;
  justify-content: space-around;
}