* {
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: sans-serif;
}

.Home, .About, .Gameplay, .Scoreboard, .Locations {
  min-height: 70vh;
  background-color: red;
}

.pageHeader {
  text-align: center;
  min-height: 10vh;
  padding: 10px 0px;
  color: navy;
  border-bottom: 5px solid navy
}

.pageBody {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}