.Gameplay .pageBody {
  flex-direction: row;
}

.gamesection {
    padding: 20px;
    width: 65vw;
    background-color: orange;
    min-height: 40vh;
  }
  
  .clockscoresection {
    padding: 20px;
    width: 25vw;
    background-color: purple;
    min-height: 40vh;

  }